@{
    ViewBag.Title = "About";
}

<br />
<br />
<br />
<div class="container">
    <div class="row">
        <h2>Why we created this site?</h2>
        <h4>The sole reason we created this site is because we are just fascinated by the newest technology and want to create a community which can share the latest news with each other</h4>
        <br />
        <h2>Inspired by:</h2>
        <h4>Nakov</h4>
        <h4>Pizza</h4>


    </div>
</div>
