@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<br />
<div class="container">
    <div class="row">
        <h2>Lead Developer</h2>
        <h4>Dwayne Johnson ( +359897876548, therock@yahoo.com )</h4>
        <br />
        <h3>Lead Designer</h3>
        <h4>Scarlett Johansson ( +359549873215 or flameon@google.com)</h4>
    </div>
</div>
